<footer class="footer">
  <small>
    <a href="http://comtechies.com/">CCMANAGE</a>
    by Bibin Wilson
  </small>
  <nav>
    <ul>
      
      <li><a href="#">FAQ's</a></li>
    </ul>
  </nav>
</footer>